@model Lab4_Productos__C06978_.Models.Producto

<h2>¿Está seguro de que desea eliminar este producto?</h2>

<div class="alert alert-danger">
    <h4>@Model.Nombre</h4>
    <dd class="col-sm-10">₡@Model.Precio.ToString("N2")</dd>
    <p>Categoría: @Model.Categoria</p>
</div>

<form asp-action="ConfirmarEliminar">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Confirmar Eliminación</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
